<html>
    <head></head>
    <body>

        <div>
            <p>TEMPERATURE: {{ temp }}C</p>
            <p>HUMIDITY: {{ humidity }}%</p>
        </div>

        <div>
            <img href = "../plants.jpg"></img>
        </div>

        <div>
            <form action="/on">
                <input type="submit" value="Turn On Pumps" />
            </form>
            <form action="/off">
                <input type="submit" value="Turn Off Pumps" />
            </form>
        </div>

    </body>
</html>